
.navbar-brand img {
    width: 100px; 
    height: auto; 
}



card-deck {
    background-color: rgb(37, 35, 35);
    padding: 10%;
    color: white;
}

/*Changes to make zoom in when hover over card */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform:scale(1.05); 
}


.card-deck .card {
    margin: 2%;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    max-height: 50%;
}


.card-img-top{
    max-height: 275px;
    max-width: 100%;
    object-fit: cover;

}


img
{
   width: 50%;
   margin: auto;
}

body {
 background-color: #ff914d55;   

}



.carousel-item {
    height: 400px;
    object-fit: cover; 
    width: auto; 
    margin: auto;
    padding: 2%;
}
