* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-image: linear-gradient(to bottom right,rgb(51, 51, 212),rgb(151, 177, 207));
}

select {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 3%;
  border: none;
  background-color: #f1f1f1;
  padding: 1%;
  border-radius: 6px;

}

/* Form container */
.container {
  padding: 16px;
  border-radius: 10px;
  border-style: outset;
  border-color: rgb(14, 14, 69);
  background: rgb(208, 224, 226);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Top heading */
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}


/* Label headings */
label {
    font-weight: bold;
    font-family: monospace, sans-serif;

}

/* Styling while required fields are empty/invalid */
input:invalid {
    border: 2px solid red;
  }


/* Full-width input fields */
input {
  width: 100%;
  padding: 11px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


/* hightlight active and hover */
input:focus, input:hover {
  background-color: rgb(231, 230, 230);
  border: 1px solid #002403;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #5c5b5b;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #352e7a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}



